USE [master]
GO
/****** Object:  Database [KingResearchDb]    Script Date: 27-06-2021 19:27:03 ******/
CREATE DATABASE [KingResearchDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KingResearchDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KingResearchDb.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KingResearchDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KingResearchDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KingResearchDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KingResearchDb]
GO
/****** Object:  Table [dbo].[DMat]    Script Date: 27-06-2021 19:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DMat](
	[DmatId] [int] IDENTITY(1,1) NOT NULL,
	[DMatName] [varchar](500) NULL,
	[DMatLink] [varchar](max) NULL,
	[CreateBy] [varchar](150) NULL,
	[CreateOn] [datetime] NULL,
	[UpdateBy] [varchar](150) NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_DMat] PRIMARY KEY CLUSTERED 
(
	[DmatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Events]    Script Date: 27-06-2021 19:27:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [varchar](150) NULL,
	[EventVideoLink] [varchar](max) NULL,
	[EventDescription] [varchar](max) NULL,
	[EventDateTime] [datetime] NULL,
	[EventContent] [varchar](max) NULL,
	[CreateBy] [varchar](150) NULL,
	[UpdateBy] [varchar](150) NULL,
	[CreateOn] [datetime] NULL,
	[UpdateOn] [datetime] NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Service]    Script Date: 27-06-2021 19:27:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [varchar](150) NULL,
	[ServiceDescription] [varchar](max) NULL,
	[CreatedBy] [varchar](150) NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [varchar](150) NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Video]    Script Date: 27-06-2021 19:27:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Video](
	[VideoId] [int] IDENTITY(1,1) NOT NULL,
	[VideoName] [varchar](550) NULL,
	[VideoLink] [varchar](max) NULL,
	[VideoDescption] [varchar](max) NULL,
	[Type] [varchar](50) NULL,
	[CreatedBy] [varchar](150) NULL,
	[CreateOn] [datetime] NULL,
	[UpdateBy] [varchar](150) NULL,
	[UpdateOn] [datetime] NULL,
 CONSTRAINT [PK_Video] PRIMARY KEY CLUSTERED 
(
	[VideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
